@import url('https://fonts.googleapis.com/css?family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');

* {
    box-sizing: border-box;
}
body {
    @include yuMincho();
    margin: 0;
    color: $blackColor;
}
ul {
    list-style: none;
    padding: 0;
}

//========================
//FONT SIZE

html{
    font-size: 62.5%;
}
body{
    font-size:1.6rem;/* 16px*/
    line-height: 2;
}
h1 {
    @include fontSizeH1();
}
h2 {
    @include fontSizeH2();
}
h3 {
    @include fontSizeH3();
}
p {
    @include fontSizeP();
}
a {
    @include fontSizeP();
}
