.flex-row {
    width: calc(100vw - 140px);
    max-width: 1134px;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-between;
    @media (max-width: 560px) {
        width: calc(100vw - 20px);
        flex-direction: column-reverse;
        margin: 30px auto 0 auto;
    }
}
.flex-row-narrow {
    margin-top: 0;
}
.sidebar { 
    width: 23%;
    @media (max-width: 770px) {
        width: 27%;
    }
    @media (max-width: 560px) {
        width: 100%;
        padding-right: 0;
    }
    &__contents {
        margin-top: 40px;
        &__inner {
            padding: 0 10px;
        }
    }
    &__contents:first-child {
        margin-top: 0;
    }
    .search-bar {
        padding: 0 10px;
        input {
            width: calc(100% - 48px);
            padding: 1rem;
        }
        button {
            background-color: rgba(183, 24, 93, 0.2);
            color: grey;
            border: none;
            cursor: pointer;
            outline: none;
            padding: 1rem;
            appearance: none;
        }
    }
    .roast-level {
        .roast-level-links {
            li a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
    .banners {
        li {
            height: 80px;
            margin-bottom: 10px;
            background: antiquewhite;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.sidebar-title {
    h3 {
        border-bottom: 1px solid $lightGrey;
    }
}