@mixin tenMincho() {
    font-family: ten-mincho, serif;
    font-style: normal;
    font-weight: 400;
}

@mixin yuMincho() {
    font-family: "Yu Mincho Medium", "游明朝 Medium", YuMincho, "游明朝体";
}

@mixin fontSizeH1() {
    font-size: 36px;/* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2.1rem + ((1vw - 0.64rem) * 1.1429));/* 24px~36pxで可変*/
    line-height: 1.3;
    @include tenMincho();
}

@mixin fontSizeH2() {
    font-size: 24px;/* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(2rem + ((1vw - 0.64rem) * 0.2143));
    line-height: 1.3;
    @include tenMincho();
}

@mixin fontSizeH3() {
    font-size: 20px;/* IE8以下とAndroid4.3以下用フォールバック */
    font-size: calc(1.5rem + ((1vw - 0.64rem) * 0.2143));
    line-height: 1.3;
    @include tenMincho();
}

@mixin fontSizeP() {
    font-size: 16px;
    font-size: calc(1.3rem + ((1vw - 0.64rem) * 0.3));
    line-height: 1.6;
}

@mixin fontSizeA() {
    font-size: 16px;
    font-size: calc(1.6rem + ((1vw - 0.64rem) * 0.3));/* 20px~24pxで可変*/
    line-height: 1.3;
}

@mixin fontWhite() {
    color: #fff;
    -webkit-text-stroke: 0.5px #9F9F9F;
}
